<div class="lc-design-system-typography notice notice-info lc-notice lc-notice-plugin-conflict" id="lc-plugins-conflict-notice">
    <div class="lc-notice-column">
        <img class="lc-notice-logo" src="{{ lcNoticeLogoUrl }}" alt="LiveChat logo" />
    </div>
    <div class="lc-notice-column" style="flex: 1">
        <p id="lc-plugins-conflict-notice-header">
            {{ header1 }} <strong>{{ header2 }}</strong> {{ header3 }}
        </p>
        <p>
            {{ notice1 }} <strong>{{ notice2 }}</strong> {{ notice3 }}
        </p>
    </div>
    <div class="lc-notice-column" id="lc-plugins-conflict-notice-button-column" style="min-width: 150px">
        <p>
            <a href="{{ url }}">
                <button class="lc-btn lc-btn--primary" id="lc-plugins-conflict-notice-button" type="button" style="min-width: 150px">
                    {{ button }}
                </button>
            </a>
        </p>
    </div>
</div>
